<h1>Writing Tips</h1>

<h1>Basic:</h1>

<p>All sentences begin with a capital letter and end with either a period, question mark or exclamation point.
</p><p>All proper nouns, such as character names or days of the week or month, are capitalized.
</p><p>"Dialogue is punctuated like this," he said. "Please note where the quote marks are placed, as well as what gets capitalized and what does not."</p>

<h2>Common Word Confusions aka Spell Check Is Not Necessarily Your Friend</h2>
<p>
The following word couples are often confused.
</p><p>
It's = contraction for <i>it is</i><br/>
Its = possessive form for it, showing that something belongs to it<br/>
<i>It's not my fault its nose is too small for its face.</i>
</p><p>
Who's = contraction for who is<br/>
Whose = possessive form for who, showing that something belongs to who<br/>
<i>"Who's going to claim this purple blanket?" the wizard asked. "Does anyone know whose it is?".</i> 
</p><p>
Where = stating where something is<br/>
Were = similar to was, past tense of is<br/>
<i>Where were you when the lights went out?</i>
</p><p>
Than = used to make a comparison, as in <i>the monster is bigger than I am.</i><br/>
Then = showing a causative relationship, as in if <i>I slay the beast, then I will be the next king.</i>
</p>
<h1>Advanced:</h1>

<h2>Pronoun Confusion</h2>
<p><i>He, him, she, her, their</i> and <i>they</i> are all very useful words. But overuse of these words can be very confusing:
</p><p>
<i>He wanted to tell him how he managed to find her and keep them from getting them killed when they were fighting it.</i>
</p>
<p>
The use of some character names or descriptive terms would be extremely helpful in understanding who is doing what to whom:
</p><p>
<i>Stanley wanted to tell Roderick how he managed to find the princess and keep the evil dwarves from killing Stanley's intrepid band of volunteers when they were fighting the monster.</i>
</p>
<h2>Dangling sentence parts</h2>
<p>
Misplaced parts of sentences can lead to very different interpretations of what the author really intended:
</p><p>
<i>Missing: Large green lady's purse.</i> This sounds like some large green lady is missing her purse, not that the purse itself is green and belongs to a lady.
</p><p>
<i>I saw a new bookstore walking down the street.</i> You probably (but not always) didn't mean to say that the bookstore was mobile. This would be a better way to phrase it:<br/>
<i>While walking down the street, I saw a new bookstore.</i>
</p>
<h2>Show Don't Tell</h2>
<p>
It is one thing to be told that your hero is noble, brave and kind to small animals. But it is more effective to write a scene showing us how he is being brave, or kind to those animals, and let us draw our own conclusions as to what your hero is really like.
</p>
<h2>Consistent Point Of View (POV) Within A Scene</h2>
<p>Try to stay inside one character's head for the duration of a scene, making us see and experience only things from that particular person's point of view. It may seem like a good idea to let us know what the other person is also thinking and feeling at the same time, but it is not nearly as effective a story-telling device. 
</p><p>
So, if you're writing a romantic scene from the point of view of the guy, we shouldn't suddenly find ourselves inside his girlfriend's head for a few lines of dialogue, and then suddenly seeing things from his perspective once again. He can maybe infer how she is feeling/what he is thinking from her facial expressions, but a well-written scene will stick to one person's perspective and not jump around like a bad alien possession.
</p>
<h2>Book Said-isms</h2>
<p>The word "said" is perfectly acceptable in almost every situation. Occasionally, your characters may scream, whisper, croak, expound, exclaim or even smile their dialogue, but excessive use of these verbs is jarring to the reader. The word "said", by contrast, is practically invisible and leaves your reader free to concentrate on what is being said, as opposed to being caught up in how it is said. If you feel you must describe how the character's line is being declaimed, adverbs (words ending in –ly, used to describe verbs) are your friend.
</p>


<p>If you are interested in running a book project, please contact us at <a href="mailto:bookproject@jaffestrategies.com">bookproject@jaffestrategies.com</a>.<p>
 
