<p>The bookproject is a collaborative writing effort developed by Leiah Jaffe in 2007.  You can browse our projects and books to see what the teams have produced.  The quality if variable.  Our writers range from 9 to 73 years young.
</p><p>
The first step is to join a project.  Each project has its own timeline and deadlines to help keep you focused.  Each project member writes the first chapter of a new book and submits it to the editors.  Once accepted (editors may be picky) the system assigns you to a book-in-progress, where you will read the previous chapters and try to move the story along.  At the end of the project, the books are published on this site!

</p><p>
The first step is to sign up and join a project.  Contact us of you want to create your own project.  The site is free and open to all.
</p><p>
Current members:  <%= link_to "Log on", :controller => "login", :action => "login"%><br/>
New members:  <%= link_to "Sign up", :controller => "login", :action => "add_user" %>
