<p> Here are some rules that we use for the book project.  If you are administering your own project, you can pick and choose the rules that make the most sense for your group.</p>
<ul>
<li>We do not enforce a specific genre</li>
<li>We do not require that you stick to a certain 'point of view' </li>
<li>You should keep the book moving forward at a reasonable pace.  Don't end it in Chapter 3 (out of 8) and don't open a whole new can of worms in chapter 7 (out of 8).</li>
<li>Try to maintain a reasonable level of grammar and spelling<li>
<li>Sticking to rules regarding 'adult content'.</li>
<li>Staying with 'the story'.</li>
<li>We ask that you try to write 1.5 times your age in sentences</li>
<li>Please do not talk about your book with people who have not yet written in it.  This helps to avoid preconcieved notions.</li>
<li> You cannot killing off or otherwise permanently change a major character before the last chapter.</li>
<li>NO 'God-modding' - Making one's own character incredibly powerful (God-like, hence the term God-modding), never wrong in any given situation.</li>
<li>As a writer, if you still have to write a chapter, you cannot see any later chapters (in that project) until you finish your writing.</li>
</ul>