<p>
You can now start writing chapter <%= @chapter.number %> of "<%= @chapter.book.title %>".
</p>
<p>
Please log into our site to start writing.  When you are done writing,
select the "Finished" button.  We will send the chapter to your editor
for review.
</p>
<p>
<%= link_to "Click here to write your chapter.",  :controller => "book", :action =>"editBook", :id => @chapter.book, :only_path => false  %>
</p>
<p>
Have a great time writing,<br/>
<%= @chapter.book.project.owner.username %> and The Book Project Team
<p>
