<% unless @book.nil? %>

<% for chapter in @book.chapters %>
 <% if chapter.user_can_edit(session["person"]) or (chapter.number <= @lastChapterThisBook and chapter.number <= @lastVisibleChapter) %>
  <div class="chapter<%= chapter.number %>">
   <% if chapter.user_can_write(session["person"]) or chapter.user_can_edit(session["person"]) %>
     <%= render(:partial => "editChapter", :locals => { :chapter => chapter }) %>
   <% else %>
     <%= render(:partial => "chapter", :locals => { :chapter => chapter }) %>
   <% end %>
   <hr/>
  </div>
 <% end %>
<% end %>

<% end %>