<h1>Book Listing</h1>
<% for book in @books%>
	<div class ="entry">
		<h3><%= link_to h(book.title), :controller => "book", :action =>"read", :id => book %></h3>
		<%= book.keywords %>
	</div>
<%end%>
