<table>
<%unless @book.chapters.empty? %>
 <%= render(:partial => "book_details", :locals => { :book => @book }) %>
 <%= render(:partial => "chapter", :collection => @book.chapters) %>
<% end %>
</table>
<%= link_to "Back to personal page", :action => "personalPage", :controller => "main" %>
