<table>
<%if @book.project.status == Project::PUBLISHED%>
 <%= render(:partial => "chapter", :collection => @book.chapters) %>
<%else%>
<h1>Book is not yet published!!!</h1>
<%end%>
</table>
<%= link_to "Back to personal page", :action => "personalPage", :controller => "main" %>
