show chapter at top <br> button to click on side which reveals whole book but NOT writable
<form action="editBook">Check if you are completely finished<input type=checkbox name ="final"><input type="submit" value="Submit"></form>

