<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Manage Ubers For #Project Name#</title>
	</head>
	<body>
		List of writers and books to set up
		<form action="../main/personalPage"><input type="submit" value = "Finish and go home"></form>
	</body>
</html>
