<ul>
  <% for user in @all_users %>
     <li>
     <% if session["person"].id == 1 %>
       <%= link_to "[X]", { # link_to options
                             :controller => 'login', 
                             :action => 'delete_user',
                             :id => user},
                           { # html options
                             :method  => :post,
                             :confirm => "Really delete #{user.username}?"
                           } %>
      <% end %>
        <b><%= h(user.username) %></b>(<%= h(user.email) %>): <%= h(user.aboutMe) %>
    </li>
  <% end %>
</ul>